.box__cetogory{
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.box__cetogory .box__cetogory--item{
    width: 22%;
    flex-shrink: 0;
    margin: 1rem 1rem 0 1rem;
}

.page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 15%;
    margin-bottom: 3rem;
}

.page button{
    cursor: pointer;
}
.page .page__currenpage{
    background-color: aquamarine;
}